@import 'variable';
@import './mixins/button';
@import './mixins/form-group';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-cursor {
    cursor: pointer;
}

a:hover {
    color: $white !important;
}

@include _button($white, $secondary-color);
@include _formfield();