@mixin _button($color, $primary) {
    .btn {
        height: 38px; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $white;
        border: none;
        border-radius: 12px;
        color: $primary;
        font-family: $font-medium;
        font-size: $font-size-default;
    
        &-primary {
            color: $primary;
        }
    }
}