@import '../../assets/scss/default-theme';

.user-info {
    ul {
        li {
            flex-wrap: wrap;
            
            margin-bottom: 16px;
        }
    
        .title {
            width: 180px;
            margin-bottom: 8px;
        }
    
        .user {
            color: $success;
            font-weight: bold;
        }
    
        .status {
            color: $info;
            font-weight: bold;
        }
    
    }
}

.btn-lock {
    text-transform: initial !important;
    box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: .3);
    padding: 8px 16px;
    border-radius: 18px;
    background-color: $primary !important;
    color: $white !important;
}