.login {
    background: #2FCDC9;
    height: 100vh;
    padding: 40px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &-header {
        .logo {
            img {
                width: 300px;
            }
        }
    }
}