@import '../../assets/scss/default-theme';

.login {
    &-form {
        .btn-login, a {
            width: calc(100% - 45px);
            margin: 0 auto;
            border-radius: 40px;
            letter-spacing: 1.5px;
        }
    
        a {
            color: $secondary-color;
            font-size: 14px;
            text-decoration: none;
            margin-top: 16px !important;
        }
    }

}