@import '../../assets/scss/default-theme';

.system {
    label {
        color: $text-form-field !important;
    }

    .text {
        padding: 16px 8px;
        border-bottom: 1px solid #265426;
    }
}
