@import '../../assets/scss/default-theme';

.login {
    &-footer {
        width: calc(100% - 60px);
        margin: 0 auto;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;

        a {
            color: $text-color-white;
            font-size: 14px;
        }
    }
}