.mapboxgl-marker.mapboxgl-marker-anchor-center {
    transform: translate(-69px, 52px) translate(38%, -44%) translate(116px, -500px) !important
}

.text-map {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 118px;
    left: 42px;
    width: 300px;
}

.img-map {
    background: url('../../assets/images/map.PNG') no-repeat;
    width: 100%;
    height: 100%;
}